[submodule "IO"]
	path = IO
	url = https://github.com/maxsnew/IO.git
[submodule "automaton"]
	path = automaton
	url = https://github.com/evancz/automaton.git
[submodule "Elm-Test"]
	path = Elm-Test
	url = https://github.com/deadfoxygrandpa/Elm-Test.git
