@charset "UTF-8";


/* FONTS */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/_elm/source-code-pro.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/_elm/source-sans-pro.ttf) format('truetype');
}


/* GENERIC STUFF */

html, head, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: #293c4b;
}

a {
  color: #60B5CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* INDEX */

.header {
  width: 100%;
  background-color: #60B5CC;
  height: 8px;
}

.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}


/* COLUMNS */

.left-column {
  float: left;
  width: 600px;
  padding-bottom: 80px;
}

.right-column {
  float: right;
  width: 300px;
  padding-bottom: 80px;
}


/* BOXES */

.box {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-bottom: 40px;
}

.box-header {
  display: block;
  overflow: hidden;
  padding: 7px 12px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 5px;
}

.box-item {
  display: block;
  overflow: hidden;
  padding: 7px 12px;
  border-top: 1px solid #e1e1e1;
}

.box-footer {
  display: block;
  overflow: hidden;
  padding: 2px 12px;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  background-color: #fafafa;
  height: 16px;
}


/* ICONS */

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5em;
}


/* PAGES */

.page-name {
  float: left;
}

.page-size {
  float: right;
  color: #293c4b;
}

.page-size:hover {
  color: #60B5CC;
}


/* WAITING */

.waiting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9A9A9A;
}


/* NOT FOUND */

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  color: #9A9A9A;
}
